<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="d-grid gap-6 d-md-block text-center" >
    <img src="static/purple4.jpg" alt="">
</div>
<div class="row" style="background-color: rgb(214, 209, 218);">
    <!--Main text and image.-->
    <h1 class="text-center">Need a hand?</h1>
    <h2 class="text-center">You've come to the right place.</h2>
    <!--Sign in/Sign up buttons.-->
    <div class="d-grid gap-6 d-md-block text-center">
        <a href="emp_signin">
            <button type="button" class="btn btn-outline-dark">Sign In</button>
        </a>
        <a href="emp_signup">
            <button type="button" class="btn btn-outline-dark">Sign Up</button>
        </a>
        <!--Cute bunny picture-->
        <div class="text-center">
            <img src="static/bunnyboss.png" class="text-center" alt="">
        </div>
        <!--Information on being an Employer-->
        <div class="text-center">
            <p>If you want to become an employer, you need to know...</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              this.
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="background-color: rgb(140, 129, 150);">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"8>Be nice.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>You (most likely an adult) are hiring a teenager (most likely in school) please be respectful and kind to these young adults. They are still learning about life and thanks to you, they are gaining experience for their future. At the end of the day, you are in charge of makign sure your employee is safe and secure while working for you. Please provide a safe environment. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Understood</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--FAQ Page-->
    <h3 style="color:rgb(214, 209, 218);">.</h3>
    <h3 class="text-center">FAQ</h3>
    <p>Here are some frequently asked questions that I hope can answer your needs.</p>
    <br>
    <h3>1. How do I get started?</h3>
    <p>Click above where it says "sign up". This button will take you to a sign up page where you can start the process of signing up. It'll require some basic information such as your email, address, phone number, and more. This data is just used to help build your profile as an employer! Thank you for joining the team.</p>
    <br>
    <h3>2. Where can I find out more information on a potential employee?</h3>
    <p>You can find more information through the employee of interests' profile. It will be similar to your profil however it will include the type of work they do, their work history and other significant details. This profile can be found here; <a href="https://www.pinterest.com/">Coming soon.</a></p>
    <br>
    <h3>3</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam officia mollitia id tempore? Porro aliquid et laborum. Voluptate eligendi repudiandae dolores quisquam, accusamus dolor dicta, nesciunt hic illo in adipisci.</p>
    <h3>4</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quo enim accusamus at! Aliquid, sed? Adipisci aliquid iure sint labore ipsum est, tempora suscipit quia, deserunt et voluptatem assumenda sed.</p>
    <h3>5</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur libero hic praesentium enim voluptatem eveniet, dolorem recusandae, magni corporis eaque perspiciatis, rerum reiciendis quasi ipsum esse. Possimus similique recusandae soluta.</p>
</div>
{% endblock %}