<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="row" style="background-color:#C3B3CD">
  <!-- Main text and Image -->
  <h1 class="text-center">Hello World!</h1>
  <h2 class="text-center">Welcome!</h2>
  <div class="text-center">
    <img src="static/placeholder.jpg" class="img-fluid" alt="..." class="text-center" class="col-3">
  </div>
  <!-- Catchy Prase and Buttons -->
  <div class="row">
    <h1 style="color:#C3B3CD">.</h1>
    <h1 class="text-center">Jobs made easier for those who need it!</h1>
    <div class="col-3" ></div>
    <div class="btn-group btn-group-lg col-6" role="group" aria-label="Large button group" class="text-center" style="color: blueviolet;">
      <a href="#" class="btn btn-primary active" aria-current="page" style="color: aliceblue;">Jobs Near You</a>
      <a href="#" class="btn btn-primary" style="color: aliceblue;">Current Jobs</a>
      <a href="#" class="btn btn-primary" style="color: aliceblue;">Job History</a>
    </div>
    <div class="col-3" ></div>
    <!-- Fake map placeholder -->
    <div class="text-center">
      <h1 style="color:#C3B3CD">.</h1>
      <img src="static/fakemap.png" alt="" class="text-center" height="500" width="800">
      <h1 style="color:#C3B3CD">.</h1>
    </div>
</div>

<!-- <div class="row">
<div style= "background-color:#C3B3CD" class="col-6">
    <h1 class="text-center">Hello World!</h1>
    <h2 class="text-center">Welcome!</h2>
    <div class="text-center">
        <img src="static/placeholder.jpg" class="img-fluid" alt="..." class="text-center">
    </div>
</div>
</div>    
  <br><br><br>
  <div class="m-3">
    <h1 class="text-center">Jobs made easier for those who need it!</h1>
    <div class="row">
    <div class="col-3" ></div>
    <div class="btn-group btn-group-lg col-6" role="group" aria-label="Large button group" class="text-center">
      <a href="#" class="btn btn-primary active" aria-current="page">Jobs Near You</a>
      <a href="#" class="btn btn-primary">Current Jobs</a>
      <a href="#" class="btn btn-primary">Job History</a>
    </div>
    <div class="col-3" ></div>
  </div>
  </div> -->

<br><br><br>
{% endblock %}