<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="row" style="background-color:#f2eaf8;">
  <!-- Main text and Image -->
  <h2 style="color: #f2eaf8;">.</h2>
  <h1 class="text-center" style="color:rgb(78, 49, 91)">Welcome!</h1>
  <h2 style="color: #f2eaf8;">.</h2>
  <div class="text-center">
    <img src="static/placeholder.jpg" class="img-fluid" alt="..." class="text-center" class="col-3">
  </div>
  <h1 style="color: #f2eaf8;">.</h1>
  <div class="clearfix">
    <img src="static/skyimg.jpeg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <p class="lead" style="color:rgb(78, 49, 91)">
      Usually, to get a job as a minor, you have to go through many steps such as getting a work permit (which needs to be processed by your school), filling out a I-9 form or other legal mumbo jumbo. There are over 25,000 undocumented students in the Bay Area and some who just don't know enough about the legality of working as a minor. Many students need to provide for themselves or their family, either way this app is meant to support students in that process of getting a job by making it easier.  
    </p>
  
    <p class="lead" style="color:rgb(78, 49, 91)">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nam provident sunt. Impedit, reiciendis repellendus culpa officiis eius reprehenderit soluta atque eos. Ipsum nihil aspernatur numquam ex veritatis delectus similique.
    </p>
  
    <p class="lead" style="color:rgb(78, 49, 91)">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore eum ut esse perspiciatis deleniti perferendis iure, ad alias animi accusantium asperiores hic nam quis repellendus. Sit repellendus recusandae similique.
    </p>
  </div>
</div>
<br><br><br>
{% endblock %}